<!DOCTYPE html>
<html>
<head>
  <title>Inky TV</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <%= yield %>

    <%= jquery_include_tag :google %>
    <%= javascript_include_tag "application" %>
    <%= yield :foot %>
  </body>
</html>
